body {
	background-color: #eee;
	margin-bottom: 80px;
}

.navbar .form-control {
	border: 0;
	background-image: -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
	background-image: -o-linear-gradient(#fff, #fff), -o-linear-gradient(#d2d2d2, #d2d2d2);
	background-image: linear-gradient(#fff, #fff), linear-gradient(#d2d2d2, #d2d2d2);
	color: #fff;
}

.navbar.navbar, .navbar-default.navbar {
	background-color: transparent;
	color: #F74553;
}

.navbar-form {
	border: 0;
}

.panel {
	margin-bottom: 10px;
}

.heading {
	margin-bottom: 84px;
}

#cart {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 999;
}

#bottom-status {
	position: fixed;
	bottom: 0px;
	left:0px;
	background-color: #ddd;
	height: 50px;
	width: 100%;
}

#top-bg {
	position: fixed;
	top: 0px;
	left: 0px;
	background: transparent url("../img/pomegranate.jpg") no-repeat scroll center center / cover;
	height: 260px;
	width: 100%;
	z-index: -999;
}

.navmenu {
	width: 150px;
}

.clearfix {
	height: 100%;
}

.pull-left {
	margin-right: 15px;
}

h4.item-title {
	margin-top: 4px;
	margin-bottom: 1px;
}

.item-content {
	margin-bottom: 0px;
}

.pull-right {
	position: relative;
	top: -45px;
	right: 0px;
	margin-bottom: -64px;
	transition: all 0.3s ease 0.4s;
}

#modal, #quantity, #carts, #phone {
	margin-top: 96px;
}

.status {
	margin-top: 15px;
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}


